#head {
  /* background: black; */
  height: 50px;
  width: 50px;
  /* background-color: green; */
  /* background-image: linear-gradient(to right, green , lightgreen); */
  border: 1px solid magenta;
  position: absolute;
  border-radius: 5px; 
  z-index: 100;
}

#board {
  height: 500px;
  width: 500px;
  border: 2px black solid;
  position: relative;
  background-image: linear-gradient(to right, magenta , lightpink);

}

#apple {
  height: 50px;
  width: 50px;
  position: absolute;
}

.bodies {
  background: black;
  height: 50px;
  width: 50px;
  background-color: green;
  background-image: linear-gradient(to right, green , lightgreen);
  border-radius: 5px; 
  position: absolute;
}

#scoreBoard {
  color: teal;
  font-size: 50px;
  position: absolute;
  

}